<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title pull-left"><i class="fa fa-user" aria-hidden="true"></i>Vladimir Litovka</h3>
		<div class="clearfix"></div>
	</div>

	<div class="panel-body">
		<div class="">
			<img src="https://randomuser.me/api/portraits/med/men/83.jpg" class="img-avatar" alt="">
			<div class="caption">
				<p>
					<span>developer</span>
				</p>
				<p>
					<button class="btn btn-primary">
						<i class="fa fa-calendar-check-o" aria-hidden="true"></i> Schedules
						<span class="badge">2</span>
					</button>
				</p>
			</div>
		</div>
	</div>
	<div class="panel-footer">
		<div>
			<button class="btn btn-default btn-xs">
				<i class="fa fa-pencil" aria-hidden="true"></i>
			</button>
			<button class="btn btn-default btn-xs">
				<i class="fa fa-pencil-square-o" aria-hidden="true"></i>Update
			</button>
			<button class="btn btn-danger btn-xs">
				<i class="fa fa-times" aria-hidden="true"></i>Remove
			</button>
		</div>
		<div>
			<button class="btn btn-default btn-xs">
				<i class="fa fa-plus" aria-hidden="true"></i>Create
			</button>
		</div>
	</div>
</div>
